<main role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12"><h1 class="display-4">Vivero El Otoño</h1></div>
            <hr>
            <div class="col-12"><img src="./assets/vivero.png" class="img-fluid" alt="Imagen Vivero"></div>
            <hr>
            <hr>
            <div class="col-8"><app-planta-list></app-planta-list></div>
        </div>
    </div>
</main>
<footer role="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" align="center"><p class="h6">Contact us: +57 3124578952 - info@viveroelotonio.com - @viveroelotonio</p></div>
        </div>
    </div>
</footer>





